rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 로그인한 본인만 자신의 폴더(이미지)에 접근
    match /users/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
